@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply font-bold 
}
.section-points{
    width: calc(100vw - 300px);
}

button.rec-dot{
    display: none;
}
.lbWDau:hover:enabled, .lbWDau:focus:enabled {
    color: #fff;
    background-color: none; 
     box-shadow: 0 0 2px 0 #333;
}
.linear{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.navbar::after{
    content: '';
    width: 1px;
    height: 100vh;
    left: 0;
    background-color: gray;
}
.navbar{
    border-right: 1px solid rgb(52, 52, 52);
    
}
.post-nav{
    border-bottom: 1px solid rgb(52, 52, 52);
}
.post-bot{
    border-top: 1px solid rgb(52, 52, 52);
}
.border-all{
    border: 1px solid rgb(52, 52, 52);
}
.overlay{
    /* position: fixed;
    top: 0;
    left: 0; */
    background: rgba(0, 0, 0, 0.5);
    /* width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* visibility: hidden; */
    transition: all.3s ease;
}
.active-btn {
    color: white;
    box-shadow: 0 2px white;
  }